@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Theme */
    --background: 100% 0 0; /* #FFFFFF */
    --foreground: 0% 0 0; /* #000000 */
    --card: 99.67% 0.001 106.42; /* #FEFEFD */
    --card-foreground: 0% 0 0; /* #000000 */
    --popover: 100% 0 0; /* #FFFFFF */
    --popover-foreground: 0% 0 0; /* #000000 */
    --primary: 91.65% 0.189 102.64; /* #FCE718 */
    --primary-foreground: 100% 0 0; /* #FFFFFF */
    --secondary: 30.45% 0.052 290.91; /* #2F2A47 */
    --secondary-foreground: 0% 0 0; /* #000000 */
    --muted: 96.76% 0.001 286.38; /* #F4F4F5 */
    --muted-foreground: 55.2% 0.014 285.93; /* #71717A  */
    --accent: 64.27% 0.19 38.29; /* #E85723 */
    --accent-foreground: 100% 0 0; /* #FFFFFF */
    --destructive: 63.68% 0.208 25.33; /* #EF4444 */
    --destructive-foreground: 98.48% 0 0; /* #FAFAFA */
    --border: 91.97% 0.004 286.32; /* #E4E4E7 */
    --input: 91.97% 0.004 286.32; /* #E4E4E7 */
    --ring: 21.03% 0.006 285.88; /* #18181B */
    --radius: 0.5rem;
    /* Shell */
    --inner-gutter: 16px;
    --outer-gutter: 16px;
    --grid-columns: 6;
    /* Spacing */
    --spacing-spacing-1: .25rem;
    --spacing-spacing-2: .5rem;
    --spacing-spacing-3: .5rem;
    --spacing-spacing-4: 1rem;
    --spacing-spacing-5: 1.5rem;
    --spacing-spacing-6: 2.25rem;
    --spacing-spacing-7: 4.5rem;
    --spacing-spacing-8: 5.25rem;
    --spacing-spacing-9: 9rem;
    --spacing-spacing-10: 11.25rem;
    --spacing-spacing-11: 11.25rem;
  }

  .dark {
    /* Theme */
    --background: 100% 0 0; /* #FFFFFF */
    --foreground: 0% 0 0; /* #000000 */
    --card: 99.67% 0.001 106.42; /* #FEFEFD */
    --card-foreground: 0% 0 0; /* #000000 */
    --popover: 100% 0 0; /* #FFFFFF */
    --popover-foreground: 0% 0 0; /* #000000 */
    --primary: 91.65% 0.189 102.64; /* #FCE718 */
    --primary-foreground: 100% 0 0; /* #FFFFFF */
    --secondary: 30.45% 0.052 290.91; /* #2F2A47 */
    --secondary-foreground: 0% 0 0; /* #000000 */
    --muted: 96.76% 0.001 286.38; /* #F4F4F5 */
    --muted-foreground: 55.2% 0.014 285.93; /* #71717A  */
    --accent: 64.27% 0.19 38.29; /* #E85723 */
    --accent-foreground: 100% 0 0; /* #FFFFFF */
    --destructive: 63.68% 0.208 25.33; /* #EF4444 */
    --destructive-foreground: 98.48% 0 0; /* #FAFAFA */
    --border: 91.97% 0.004 286.32; /* #E4E4E7 */
    --input: 91.97% 0.004 286.32; /* #E4E4E7 */
    --ring: 21.03% 0.006 285.88; /* #18181B */
  }
}

  @media (min-width: 768px) {
    :root {
        /* Shell */
      --inner-gutter: 24px;
      --outer-gutter: 24px;
      --grid-columns: 8;
      /* Spacing */
      --spacing-spacing-5: 2.25rem;
      --spacing-spacing-6: 3rem;
      --spacing-spacing-7: 5.25rem;
      --spacing-spacing-8: 7rem;
      --spacing-spacing-9: 10rem;
      --spacing-spacing-10: 12.5rem;
      --spacing-spacing-11: 12.5rem;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --grid-columns: 12;
      /* Spacing */
      --spacing-spacing-3: .75rem;
      --spacing-spacing-4: 1.5rem;
      --spacing-spacing-5: 3rem;
      --spacing-spacing-6: 3.75rem;
      --spacing-spacing-7: 6rem;
      --spacing-spacing-8: 9rem;
      --spacing-spacing-9: 11.25rem;
      --spacing-spacing-10: 13.75rem;
      --spacing-spacing-11: 16.5rem;
    }
  }

  @media (min-width: 1280px) {
    :root {
      --outer-gutter: 60px;
      --container-sm-width: 1260px;
    }
  }

  @media (min-width: 1380px) {
    :root {
      --container-sm-width: 1366px;
    }
  }

  @media (min-width: 1460px) {
    :root {
      --container-width: 1440px;
    }
  }

@layer base {
  * {
    @apply border-border text-foreground;
  }

  ::selection {
    @apply bg-accent text-accent-foreground;
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5 bg-accent/40;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-[1ex];
  }

  ::-webkit-scrollbar-corner {
    @apply bg-accent;
  }

  *::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* Old shadow dom for play button */
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* New shadow dom for play button */
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }
}

@layer utilities {
  /* Typography */

  .f-display-1 {
    @apply text-5xl sm:text-7xl xl:text-8xl leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-tight;
  }

  .f-display-2 {
    @apply text-[2.5rem] sm:text-[3.125rem] xl:text-[4rem] leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-[0.15];
  }

  .f-display-3 {
    @apply text-[2rem] sm:text-[2.625rem] xl:text-[3.8rem] leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-[0.15];
  }

  .f-heading-1 {
    @apply text-[1.8rem] sm:text-[2.5rem] xl:text-[3.2rem] leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-[0.15];
  }

  .f-heading-2 {
    @apply text-[1.5rem] md:text-[2rem] xl:text-[2.5rem] leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-[0.15];
  }

  .f-heading-3 {
    @apply text-[1.4rem] md:text-[1.75rem] xl:text-[2rem] leading-[110%] sm:leading-[125%] xl:leading-[120%] tracking-[0.15];
  }

  .f-subhead-1 {
    @apply text-[1.3125rem] md:text-2xl xl:text-[1.75rem] leading-[130%] sm:leading-[130%] xl:leading-[140%] tracking-wide;
  }

  .f-subhead-2 {
    @apply text-[1.2rem] sm:text-[1.25rem] xl:text-[1.5rem] leading-[130%] sm:leading-[130%] xl:leading-[140%] tracking-wide;
  }

  .f-subhead-3 {
    @apply text-[1.125rem] sm:text-[1.1875rem] xl:text-[1.375rem] leading-[130%] sm:leading-[130%] xl:leading-[140%] tracking-wide;
  }

  .f-body-1 {
    @apply text-[1rem] xl:text-[1.125rem] leading-[130%] xl:leading-[140%] xl:tracking-wide;
  }

  /* Container */

  .container {
    @apply w-[calc(var(--container-width,100%)-(2*var(--outer-gutter,0)))] mx-auto;
  }

  .cols-container {
    @apply flex flex-wrap -ml-gutter [&>[class*=-cols]]:ml-gutter;
  }

  .full-bleed-container {
    @apply 3xl:w-[calc(var(--container-width,100%)-var(--outer-gutter,0))] 3xl:mx-auto 3xl:px-gutter;
  }

  .screen-container {
    @apply h-[100svh] min-h-[500xp] lg:min-h-[600px] max-h-[1000px];
  }

  /* Site header */

  .h-header {
    @apply h-14 sm:h-16;
  }

  .-mt-header-h {
    @apply -mt-[57px] sm:-mt-[65px];
  }
}

